/*General styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::marker {
  content: none;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #333;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
}
body strong {
  font-weight: 700;
}
body h1 {
  font-size: xx-large;
}
body h2 {
  font-size: x-large;
}
body p {
  font-size: large;
}

main {
  position: relative;
  height: 100vh;
  width: 100%;
}

.cookie {
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation: cookie-spin 10s linear infinite; */
}
/* @keyframes cookie-spin {
  100% {
    transform: rotate(360deg);
  }
}
 */

.cookie-pc-message {
  display: none;
}

@media screen and (min-width: 500px) {
  .cookie-pc-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    height: 100vh;
    background-color: rgb(190, 190, 190);
  }
  .cookie-container {
    display: none;
  }
  header {
    display: none;
  }
}
